<a href="https://colab.research.google.com/github/FurukuOnTour/nlpsys-project-legalnlp/blob/main/NLP_SYS_Project_Data_Prep_for_All2Favor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
from nltk.corpus.reader import ConllChunkCorpusReader
import os

In [ ]:
def list_full_paths(directory):
    return [os.path.join(directory, file) for file in os.listdir(directory)]

In [ ]:
# Mount Drive and Retrieve all files

ter_raw_filepath = list_full_paths('/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/Law_NLP_TerAnnotate_tsv_iob/Law NLP-1Wwskjb14Xb/ROOT-vic22527_gmail_com')
furuku_raw_filepath = list_full_paths('/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com')

In [ ]:
furuku_raw_filepath[:5]

['/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com/2484_888.txt.tsv',
 '/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com/2483_378.txt.tsv',
 '/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com/2490_874.txt.tsv',
 '/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com/2491_256.txt.tsv',
 '/content/drive/MyDrive/Colab Notebooks/NLP SYS Project/NLP SYS Project Data 1_output_Nov_17_2022_tsv_iob/NLP SYS Project Data 1-rR1KctfT6AI/ROOT-natchanon_pollertlam_gmail_com/2490_731.txt.tsv']

In [ ]:
def read_verdict(file_path):
    with open(file_path) as f:
        text = []
        tag = []
        try:
            for line in f:
                line = line.strip().split('\t')
                # print(line)
                if line != ['']:
                    if len(line) > 1 and line[1] != 'O':
                        text.append(line[0])
                        tag.append(line[1].split('-')[1])
            return (' '.join(text), list(set(tag))[0])
        except Exception as e:
            print("Exception occurred for value '"+ ''.join(line) + "': "+ repr(e))

In [ ]:
def read_data(file_path):
    with open(file_path) as f:
        text = []
        tag = []
        try:
            for line in f:
                line = line.strip().split('\t')
                # print(line)
                if line != ['']:
                    text.append(line[0])
                    if len(line) > 1 and line[1] != 'O':
                        tag.append(line[1].split('-')[1])
            return (' '.join(text), list(set(tag))[0])
        except Exception as e:
            print("Exception occurred for value '"+ ''.join(line) + "': "+ repr(e))

In [ ]:
raw_filepath = ter_raw_filepath + furuku_raw_filepath
series = {
    'text': [],
    'label': []
}
for path in raw_filepath:
    text, label = read_data(path)
    series['text'].append(text)
    series['label'].append(label)

df = pd.DataFrame(series)
df

                                                  text                label
0    2534/3796 ย่อสั้น โจทก์ที่ 2 ทำสัญญาเช่าซื้อรถ...  partially favorable
1    2522/1049 ย่อสั้น โจทก์ได้เลียนแบบลายกนกสลากปิ...          unfavorable
2    2517/2647 ย่อสั้น จำเลยเป็นข้าราชการในสังกัดขอ...            favorable
3    2557/18869 ย่อสั้น จำเลยที่ 1 กับพวกเห็นว่าคณะ...  partially favorable
4    2513/1371 ย่อสั้น ผู้เสียหายเป็นโจทก์ฟ้องคดีแพ...  partially favorable
..                                                 ...                  ...
375  2557/5870 ย่อสั้น โจทก์เป็นเจ้าพนักงานพิทักษ์ข...                other
376  2543/4493 ย่อสั้น พระราชบัญญัติอาคารชุดฯ ต้องก...  partially favorable
377  2550/4352 ย่อสั้น คดีอาญาที่พนักงานอัยการและโจ...  partially favorable
378  2547/8794 ย่อสั้น ตาม ป.พ.พ. มาตรา 442 ประกอบม...          unfavorable
379  2550/5207 ย่อสั้น โจทก์ได้รับบาดเจ็บไม่ร้ายแรง...  partially favorable

[380 rows x 2 columns]

In [ ]:
df.to_csv('all2favor_all.csv', index=False)

In [ ]:
df2 = pd.read_csv('/content/all2favor_all.csv')
df2

                                                  text                label
0    2534/3796 ย่อสั้น โจทก์ที่ 2 ทำสัญญาเช่าซื้อรถ...  partially favorable
1    2522/1049 ย่อสั้น โจทก์ได้เลียนแบบลายกนกสลากปิ...          unfavorable
2    2517/2647 ย่อสั้น จำเลยเป็นข้าราชการในสังกัดขอ...            favorable
3    2557/18869 ย่อสั้น จำเลยที่ 1 กับพวกเห็นว่าคณะ...  partially favorable
4    2513/1371 ย่อสั้น ผู้เสียหายเป็นโจทก์ฟ้องคดีแพ...  partially favorable
..                                                 ...                  ...
375  2557/5870 ย่อสั้น โจทก์เป็นเจ้าพนักงานพิทักษ์ข...                other
376  2543/4493 ย่อสั้น พระราชบัญญัติอาคารชุดฯ ต้องก...  partially favorable
377  2550/4352 ย่อสั้น คดีอาญาที่พนักงานอัยการและโจ...  partially favorable
378  2547/8794 ย่อสั้น ตาม ป.พ.พ. มาตรา 442 ประกอบม...          unfavorable
379  2550/5207 ย่อสั้น โจทก์ได้รับบาดเจ็บไม่ร้ายแรง...  partially favorable

[380 rows x 2 columns]

# split data

In [ ]:
from sklearn.model_selection import train_test_split

train, dev = train_test_split(df, test_size=0.2)

In [ ]:
print(len(train))
print(len(dev))

304
76

In [ ]:
train.to_csv('all2favor-train.csv', index=False)

In [ ]:
loaded_data = pd.read_csv('all2favor-train.csv')

In [ ]:
loaded_data.head()

                                                text                label
0  2523/139 ย่อสั้น คนของโจทก์รับเงินจากลูกค้าแล้...  partially favorable
1  2545/3535 ย่อสั้น ตามสัญญาซื้อขายระบุว่า ป. ซื...          unfavorable
2  2558/10955 ย่อสั้น ตาม พ . ร . บ . องค์การสงเค...          unfavorable
3  2548/4823 ย่อสั้น จำเลยที่ 1 เป็นเจ้าพนักงานที...  partially favorable
4  2511/1204 ย่อสั้น ค่าเสียหายฐานทำละเมิดปิดทางภ...  partially favorable

In [ ]:
dev.to_csv('all2favor-dev.csv', index=False)